@import url("font-awesome.min.css");

@import
	url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600")
	;

/*
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

/* Box Model */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Containers */
.container {
	margin-left: auto;
	margin-right: auto;
}

.container.\31 25\25 {
	width: 100%;
	max-width: 1750px;
	min-width: 1400px;
}

.container.\37 5\25 {
	width: 1050px;
}

.container.\35 0\25 {
	width: 700px;
}

.container.\32 5\25 {
	width: 350px;
}

.container {
	width: 1400px;
}

@media screen and (min-width: 961px) and (max-width: 1880px) {
	.container.\31 25\25 {
		width: 100%;
		max-width: 1500px;
		min-width: 1200px;
	}
	.container.\37 5\25 {
		width: 900px;
	}
	.container.\35 0\25 {
		width: 600px;
	}
	.container.\32 5\25 {
		width: 300px;
	}
	.container {
		width: 1200px;
	}
}

@media screen and (min-width: 961px) and (max-width: 1620px) {
	.container.\31 25\25 {
		width: 100%;
		max-width: 1200px;
		min-width: 960px;
	}
	.container.\37 5\25 {
		width: 720px;
	}
	.container.\35 0\25 {
		width: 480px;
	}
	.container.\32 5\25 {
		width: 240px;
	}
	.container {
		width: 960px;
	}
}

@media screen and (min-width: 961px) and (max-width: 1320px) {
	.container.\31 25\25 {
		width: 100%;
		max-width: 125%;
		min-width: 100%;
	}
	.container.\37 5\25 {
		width: 75%;
	}
	.container.\35 0\25 {
		width: 50%;
	}
	.container.\32 5\25 {
		width: 25%;
	}
	.container {
		width: 100%;
	}
}

@media screen and (max-width: 960px) {
	.container.\31 25\25 {
		width: 100%;
		max-width: 125%;
		min-width: 100%;
	}
	.container.\37 5\25 {
		width: 75%;
	}
	.container.\35 0\25 {
		width: 50%;
	}
	.container.\32 5\25 {
		width: 25%;
	}
	.container {
		width: 100%;
	}
}

@media screen and (max-width: 736px) {
	.container.\31 25\25 {
		width: 100%;
		max-width: 125%;
		min-width: 100%;
	}
	.container.\37 5\25 {
		width: 75%;
	}
	.container.\35 0\25 {
		width: 50%;
	}
	.container.\32 5\25 {
		width: 25%;
	}
	.container {
		width: 100% !important;
	}
}

/* Grid */
.row {
	border-bottom: solid 1px transparent;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.row>* {
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.row:after, .row:before {
	content: '';
	display: block;
	clear: both;
	height: 0;
}

.row.uniform>*>:first-child {
	margin-top: 0;
}

.row.uniform>*>:last-child {
	margin-bottom: 0;
}

.row.\30 \25 >* {
	padding: 0px 0 0 0px;
}

.row.\30 \25 {
	margin: 0px 0 -1px 0px;
}

.row.uniform.\30 \25 >* {
	padding: 0px 0 0 0px;
}

.row.uniform.\30 \25 {
	margin: 0px 0 -1px 0px;
}

.row>* {
	padding: 40px 0 0 40px;
}

.row {
	margin: -40px 0 -1px -40px;
}

.row.uniform>* {
	padding: 40px 0 0 40px;
}

.row.uniform {
	margin: -40px 0 -1px -40px;
}

.row.\32 00\25 >* {
	padding: 80px 0 0 80px;
}

.row.\32 00\25 {
	margin: -80px 0 -1px -80px;
}

.row.uniform.\32 00\25 >* {
	padding: 80px 0 0 80px;
}

.row.uniform.\32 00\25 {
	margin: -80px 0 -1px -80px;
}

.row.\31 50\25 >* {
	padding: 60px 0 0 60px;
}

.row.\31 50\25 {
	margin: -60px 0 -1px -60px;
}

.row.uniform.\31 50\25 >* {
	padding: 60px 0 0 60px;
}

.row.uniform.\31 50\25 {
	margin: -60px 0 -1px -60px;
}

.row.\35 0\25 >* {
	padding: 20px 0 0 20px;
}

.row.\35 0\25 {
	margin: -20px 0 -1px -20px;
}

.row.uniform.\35 0\25 >* {
	padding: 20px 0 0 20px;
}

.row.uniform.\35 0\25 {
	margin: -20px 0 -1px -20px;
}

.row.\32 5\25 >* {
	padding: 10px 0 0 10px;
}

.row.\32 5\25 {
	margin: -10px 0 -1px -10px;
}

.row.uniform.\32 5\25 >* {
	padding: 10px 0 0 10px;
}

.row.uniform.\32 5\25 {
	margin: -10px 0 -1px -10px;
}

.\31 2u,.\31 2u\24 {
	width: 100%;
	clear: none;
	margin-left: 0;
}

.\31 1u,.\31 1u\24 {
	width: 91.6666666667%;
	clear: none;
	margin-left: 0;
}

.\31 0u,.\31 0u\24 {
	width: 83.3333333333%;
	clear: none;
	margin-left: 0;
}

.\39 u,.\39 u\24 {
	width: 75%;
	clear: none;
	margin-left: 0;
}

.\38 u,.\38 u\24 {
	width: 66.6666666667%;
	clear: none;
	margin-left: 0;
}

.\37 u,.\37 u\24 {
	width: 58.3333333333%;
	clear: none;
	margin-left: 0;
}

.\36 u,.\36 u\24 {
	width: 50%;
	clear: none;
	margin-left: 0;
}

.\35 u,.\35 u\24 {
	width: 41.6666666667%;
	clear: none;
	margin-left: 0;
}

.\34 u,.\34 u\24 {
	width: 33.3333333333%;
	clear: none;
	margin-left: 0;
}

.\33 u,.\33 u\24 {
	width: 25%;
	clear: none;
	margin-left: 0;
}

.\32 u,.\32 u\24 {
	width: 16.6666666667%;
	clear: none;
	margin-left: 0;
}

.\31 u,.\31 u\24 {
	width: 8.3333333333%;
	clear: none;
	margin-left: 0;
}

.\31 2u\24 +*,.\31 1u\24 +*,.\31 0u\24 +*,.\39 u\24 +*,.\38 u\24 +*,
	.\37 u\24 +*,.\36 u\24 +*,.\35 u\24 +*,.\34 u\24 +*,.\33 u\24 +*,
	.\32 u\24 +*,.\31 u\24 +* {
	clear: left;
}

.\-11u {
	margin-left: 91.66667%;
}

.\-10u {
	margin-left: 83.33333%;
}

.\-9u {
	margin-left: 75%;
}

.\-8u {
	margin-left: 66.66667%;
}

.\-7u {
	margin-left: 58.33333%;
}

.\-6u {
	margin-left: 50%;
}

.\-5u {
	margin-left: 41.66667%;
}

.\-4u {
	margin-left: 33.33333%;
}

.\-3u {
	margin-left: 25%;
}

.\-2u {
	margin-left: 16.66667%;
}

.\-1u {
	margin-left: 8.33333%;
}

@media screen and (min-width: 961px) and (max-width: 1880px) {
	.row>* {
		padding: 40px 0 0 40px;
	}
	.row {
		margin: -40px 0 -1px -40px;
	}
	.row.uniform>* {
		padding: 40px 0 0 40px;
	}
	.row.uniform {
		margin: -40px 0 -1px -40px;
	}
	.row.\32 00\25 >* {
		padding: 80px 0 0 80px;
	}
	.row.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}
	.row.uniform.\32 00\25 >* {
		padding: 80px 0 0 80px;
	}
	.row.uniform.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}
	.row.\31 50\25 >* {
		padding: 60px 0 0 60px;
	}
	.row.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}
	.row.uniform.\31 50\25 >* {
		padding: 60px 0 0 60px;
	}
	.row.uniform.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}
	.row.\35 0\25 >* {
		padding: 20px 0 0 20px;
	}
	.row.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}
	.row.uniform.\35 0\25 >* {
		padding: 20px 0 0 20px;
	}
	.row.uniform.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}
	.row.\32 5\25 >* {
		padding: 10px 0 0 10px;
	}
	.row.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}
	.row.uniform.\32 5\25 >* {
		padding: 10px 0 0 10px;
	}
	.row.uniform.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}
	.\31 2u\28wide\29,.\31 2u\24\28wide\29 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}
	.\31 1u\28wide\29,.\31 1u\24\28wide\29 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 0u\28wide\29,.\31 0u\24\28wide\29 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\39 u\28wide\29,.\39 u\24\28wide\29 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}
	.\38 u\28wide\29,.\38 u\24\28wide\29 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\37 u\28wide\29,.\37 u\24\28wide\29 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\36 u\28wide\29,.\36 u\24\28wide\29 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}
	.\35 u\28wide\29,.\35 u\24\28wide\29 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\34 u\28wide\29,.\34 u\24\28wide\29 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\33 u\28wide\29,.\33 u\24\28wide\29 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}
	.\32 u\28wide\29,.\32 u\24\28wide\29 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 u\28wide\29,.\31 u\24\28wide\29 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\31 2u\24\28wide\29 +*,.\31 1u\24\28wide\29 +*,.\31 0u\24\28wide\29 +*,
		.\39 u\24\28wide\29 +*,.\38 u\24\28wide\29 +*,.\37 u\24\28wide\29 +*,
		.\36 u\24\28wide\29 +*,.\35 u\24\28wide\29 +*,.\34 u\24\28wide\29 +*,
		.\33 u\24\28wide\29 +*,.\32 u\24\28wide\29 +*,.\31 u\24\28wide\29 +* {
		clear: left;
	}
	.\-11u\28wide\29 {
		margin-left: 91.66667%;
	}
	.\-10u\28wide\29 {
		margin-left: 83.33333%;
	}
	.\-9u\28wide\29 {
		margin-left: 75%;
	}
	.\-8u\28wide\29 {
		margin-left: 66.66667%;
	}
	.\-7u\28wide\29 {
		margin-left: 58.33333%;
	}
	.\-6u\28wide\29 {
		margin-left: 50%;
	}
	.\-5u\28wide\29 {
		margin-left: 41.66667%;
	}
	.\-4u\28wide\29 {
		margin-left: 33.33333%;
	}
	.\-3u\28wide\29 {
		margin-left: 25%;
	}
	.\-2u\28wide\29 {
		margin-left: 16.66667%;
	}
	.\-1u\28wide\29 {
		margin-left: 8.33333%;
	}
}

@media screen and (min-width: 961px) and (max-width: 1620px) {
	.row>* {
		padding: 40px 0 0 40px;
	}
	.row {
		margin: -40px 0 -1px -40px;
	}
	.row.uniform>* {
		padding: 40px 0 0 40px;
	}
	.row.uniform {
		margin: -40px 0 -1px -40px;
	}
	.row.\32 00\25 >* {
		padding: 80px 0 0 80px;
	}
	.row.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}
	.row.uniform.\32 00\25 >* {
		padding: 80px 0 0 80px;
	}
	.row.uniform.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}
	.row.\31 50\25 >* {
		padding: 60px 0 0 60px;
	}
	.row.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}
	.row.uniform.\31 50\25 >* {
		padding: 60px 0 0 60px;
	}
	.row.uniform.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}
	.row.\35 0\25 >* {
		padding: 20px 0 0 20px;
	}
	.row.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}
	.row.uniform.\35 0\25 >* {
		padding: 20px 0 0 20px;
	}
	.row.uniform.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}
	.row.\32 5\25 >* {
		padding: 10px 0 0 10px;
	}
	.row.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}
	.row.uniform.\32 5\25 >* {
		padding: 10px 0 0 10px;
	}
	.row.uniform.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}
	.\31 2u\28normal\29,.\31 2u\24\28normal\29 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}
	.\31 1u\28normal\29,.\31 1u\24\28normal\29 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 0u\28normal\29,.\31 0u\24\28normal\29 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\39 u\28normal\29,.\39 u\24\28normal\29 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}
	.\38 u\28normal\29,.\38 u\24\28normal\29 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\37 u\28normal\29,.\37 u\24\28normal\29 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\36 u\28normal\29,.\36 u\24\28normal\29 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}
	.\35 u\28normal\29,.\35 u\24\28normal\29 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\34 u\28normal\29,.\34 u\24\28normal\29 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\33 u\28normal\29,.\33 u\24\28normal\29 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}
	.\32 u\28normal\29,.\32 u\24\28normal\29 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 u\28normal\29,.\31 u\24\28normal\29 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\31 2u\24\28normal\29 +*,.\31 1u\24\28normal\29 +*,
		.\31 0u\24\28normal\29 +*,.\39 u\24\28normal\29 +*,
		.\38 u\24\28normal\29 +*,.\37 u\24\28normal\29 +*,
		.\36 u\24\28normal\29 +*,.\35 u\24\28normal\29 +*,
		.\34 u\24\28normal\29 +*,.\33 u\24\28normal\29 +*,
		.\32 u\24\28normal\29 +*,.\31 u\24\28normal\29 +* {
		clear: left;
	}
	.\-11u\28normal\29 {
		margin-left: 91.66667%;
	}
	.\-10u\28normal\29 {
		margin-left: 83.33333%;
	}
	.\-9u\28normal\29 {
		margin-left: 75%;
	}
	.\-8u\28normal\29 {
		margin-left: 66.66667%;
	}
	.\-7u\28normal\29 {
		margin-left: 58.33333%;
	}
	.\-6u\28normal\29 {
		margin-left: 50%;
	}
	.\-5u\28normal\29 {
		margin-left: 41.66667%;
	}
	.\-4u\28normal\29 {
		margin-left: 33.33333%;
	}
	.\-3u\28normal\29 {
		margin-left: 25%;
	}
	.\-2u\28normal\29 {
		margin-left: 16.66667%;
	}
	.\-1u\28normal\29 {
		margin-left: 8.33333%;
	}
}

@media screen and (min-width: 961px) and (max-width: 1320px) {
	.row>* {
		padding: 20px 0 0 20px;
	}
	.row {
		margin: -20px 0 -1px -20px;
	}
	.row.uniform>* {
		padding: 20px 0 0 20px;
	}
	.row.uniform {
		margin: -20px 0 -1px -20px;
	}
	.row.\32 00\25 >* {
		padding: 40px 0 0 40px;
	}
	.row.\32 00\25 {
		margin: -40px 0 -1px -40px;
	}
	.row.uniform.\32 00\25 >* {
		padding: 40px 0 0 40px;
	}
	.row.uniform.\32 00\25 {
		margin: -40px 0 -1px -40px;
	}
	.row.\31 50\25 >* {
		padding: 30px 0 0 30px;
	}
	.row.\31 50\25 {
		margin: -30px 0 -1px -30px;
	}
	.row.uniform.\31 50\25 >* {
		padding: 30px 0 0 30px;
	}
	.row.uniform.\31 50\25 {
		margin: -30px 0 -1px -30px;
	}
	.row.\35 0\25 >* {
		padding: 10px 0 0 10px;
	}
	.row.\35 0\25 {
		margin: -10px 0 -1px -10px;
	}
	.row.uniform.\35 0\25 >* {
		padding: 10px 0 0 10px;
	}
	.row.uniform.\35 0\25 {
		margin: -10px 0 -1px -10px;
	}
	.row.\32 5\25 >* {
		padding: 5px 0 0 5px;
	}
	.row.\32 5\25 {
		margin: -5px 0 -1px -5px;
	}
	.row.uniform.\32 5\25 >* {
		padding: 5px 0 0 5px;
	}
	.row.uniform.\32 5\25 {
		margin: -5px 0 -1px -5px;
	}
	.\31 2u\28narrow\29,.\31 2u\24\28narrow\29 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}
	.\31 1u\28narrow\29,.\31 1u\24\28narrow\29 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 0u\28narrow\29,.\31 0u\24\28narrow\29 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\39 u\28narrow\29,.\39 u\24\28narrow\29 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}
	.\38 u\28narrow\29,.\38 u\24\28narrow\29 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\37 u\28narrow\29,.\37 u\24\28narrow\29 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\36 u\28narrow\29,.\36 u\24\28narrow\29 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}
	.\35 u\28narrow\29,.\35 u\24\28narrow\29 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\34 u\28narrow\29,.\34 u\24\28narrow\29 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\33 u\28narrow\29,.\33 u\24\28narrow\29 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}
	.\32 u\28narrow\29,.\32 u\24\28narrow\29 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 u\28narrow\29,.\31 u\24\28narrow\29 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\31 2u\24\28narrow\29 +*,.\31 1u\24\28narrow\29 +*,
		.\31 0u\24\28narrow\29 +*,.\39 u\24\28narrow\29 +*,
		.\38 u\24\28narrow\29 +*,.\37 u\24\28narrow\29 +*,
		.\36 u\24\28narrow\29 +*,.\35 u\24\28narrow\29 +*,
		.\34 u\24\28narrow\29 +*,.\33 u\24\28narrow\29 +*,
		.\32 u\24\28narrow\29 +*,.\31 u\24\28narrow\29 +* {
		clear: left;
	}
	.\-11u\28narrow\29 {
		margin-left: 91.66667%;
	}
	.\-10u\28narrow\29 {
		margin-left: 83.33333%;
	}
	.\-9u\28narrow\29 {
		margin-left: 75%;
	}
	.\-8u\28narrow\29 {
		margin-left: 66.66667%;
	}
	.\-7u\28narrow\29 {
		margin-left: 58.33333%;
	}
	.\-6u\28narrow\29 {
		margin-left: 50%;
	}
	.\-5u\28narrow\29 {
		margin-left: 41.66667%;
	}
	.\-4u\28narrow\29 {
		margin-left: 33.33333%;
	}
	.\-3u\28narrow\29 {
		margin-left: 25%;
	}
	.\-2u\28narrow\29 {
		margin-left: 16.66667%;
	}
	.\-1u\28narrow\29 {
		margin-left: 8.33333%;
	}
}

@media screen and (max-width: 960px) {
	.row>* {
		padding: 20px 0 0 20px;
	}
	.row {
		margin: -20px 0 -1px -20px;
	}
	.row.uniform>* {
		padding: 20px 0 0 20px;
	}
	.row.uniform {
		margin: -20px 0 -1px -20px;
	}
	.row.\32 00\25 >* {
		padding: 40px 0 0 40px;
	}
	.row.\32 00\25 {
		margin: -40px 0 -1px -40px;
	}
	.row.uniform.\32 00\25 >* {
		padding: 40px 0 0 40px;
	}
	.row.uniform.\32 00\25 {
		margin: -40px 0 -1px -40px;
	}
	.row.\31 50\25 >* {
		padding: 30px 0 0 30px;
	}
	.row.\31 50\25 {
		margin: -30px 0 -1px -30px;
	}
	.row.uniform.\31 50\25 >* {
		padding: 30px 0 0 30px;
	}
	.row.uniform.\31 50\25 {
		margin: -30px 0 -1px -30px;
	}
	.row.\35 0\25 >* {
		padding: 10px 0 0 10px;
	}
	.row.\35 0\25 {
		margin: -10px 0 -1px -10px;
	}
	.row.uniform.\35 0\25 >* {
		padding: 10px 0 0 10px;
	}
	.row.uniform.\35 0\25 {
		margin: -10px 0 -1px -10px;
	}
	.row.\32 5\25 >* {
		padding: 5px 0 0 5px;
	}
	.row.\32 5\25 {
		margin: -5px 0 -1px -5px;
	}
	.row.uniform.\32 5\25 >* {
		padding: 5px 0 0 5px;
	}
	.row.uniform.\32 5\25 {
		margin: -5px 0 -1px -5px;
	}
	.\31 2u\28narrower\29,.\31 2u\24\28narrower\29 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}
	.\31 1u\28narrower\29,.\31 1u\24\28narrower\29 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 0u\28narrower\29,.\31 0u\24\28narrower\29 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\39 u\28narrower\29,.\39 u\24\28narrower\29 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}
	.\38 u\28narrower\29,.\38 u\24\28narrower\29 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\37 u\28narrower\29,.\37 u\24\28narrower\29 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\36 u\28narrower\29,.\36 u\24\28narrower\29 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}
	.\35 u\28narrower\29,.\35 u\24\28narrower\29 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\34 u\28narrower\29,.\34 u\24\28narrower\29 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\33 u\28narrower\29,.\33 u\24\28narrower\29 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}
	.\32 u\28narrower\29,.\32 u\24\28narrower\29 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 u\28narrower\29,.\31 u\24\28narrower\29 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\31 2u\24\28narrower\29 +*,.\31 1u\24\28narrower\29 +*,
		.\31 0u\24\28narrower\29 +*,.\39 u\24\28narrower\29 +*,
		.\38 u\24\28narrower\29 +*,.\37 u\24\28narrower\29 +*,
		.\36 u\24\28narrower\29 +*,.\35 u\24\28narrower\29 +*,
		.\34 u\24\28narrower\29 +*,.\33 u\24\28narrower\29 +*,
		.\32 u\24\28narrower\29 +*,.\31 u\24\28narrower\29 +* {
		clear: left;
	}
	.\-11u\28narrower\29 {
		margin-left: 91.66667%;
	}
	.\-10u\28narrower\29 {
		margin-left: 83.33333%;
	}
	.\-9u\28narrower\29 {
		margin-left: 75%;
	}
	.\-8u\28narrower\29 {
		margin-left: 66.66667%;
	}
	.\-7u\28narrower\29 {
		margin-left: 58.33333%;
	}
	.\-6u\28narrower\29 {
		margin-left: 50%;
	}
	.\-5u\28narrower\29 {
		margin-left: 41.66667%;
	}
	.\-4u\28narrower\29 {
		margin-left: 33.33333%;
	}
	.\-3u\28narrower\29 {
		margin-left: 25%;
	}
	.\-2u\28narrower\29 {
		margin-left: 16.66667%;
	}
	.\-1u\28narrower\29 {
		margin-left: 8.33333%;
	}
}

@media screen and (max-width: 736px) {
	.row>* {
		padding: 20px 0 0 20px;
	}
	.row {
		margin: -20px 0 -1px -20px;
	}
	.row.uniform>* {
		padding: 20px 0 0 20px;
	}
	.row.uniform {
		margin: -20px 0 -1px -20px;
	}
	.row.\32 00\25 >* {
		padding: 40px 0 0 40px;
	}
	.row.\32 00\25 {
		margin: -40px 0 -1px -40px;
	}
	.row.uniform.\32 00\25 >* {
		padding: 40px 0 0 40px;
	}
	.row.uniform.\32 00\25 {
		margin: -40px 0 -1px -40px;
	}
	.row.\31 50\25 >* {
		padding: 30px 0 0 30px;
	}
	.row.\31 50\25 {
		margin: -30px 0 -1px -30px;
	}
	.row.uniform.\31 50\25 >* {
		padding: 30px 0 0 30px;
	}
	.row.uniform.\31 50\25 {
		margin: -30px 0 -1px -30px;
	}
	.row.\35 0\25 >* {
		padding: 10px 0 0 10px;
	}
	.row.\35 0\25 {
		margin: -10px 0 -1px -10px;
	}
	.row.uniform.\35 0\25 >* {
		padding: 10px 0 0 10px;
	}
	.row.uniform.\35 0\25 {
		margin: -10px 0 -1px -10px;
	}
	.row.\32 5\25 >* {
		padding: 5px 0 0 5px;
	}
	.row.\32 5\25 {
		margin: -5px 0 -1px -5px;
	}
	.row.uniform.\32 5\25 >* {
		padding: 5px 0 0 5px;
	}
	.row.uniform.\32 5\25 {
		margin: -5px 0 -1px -5px;
	}
	.\31 2u\28mobile\29,.\31 2u\24\28mobile\29 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}
	.\31 1u\28mobile\29,.\31 1u\24\28mobile\29 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 0u\28mobile\29,.\31 0u\24\28mobile\29 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\39 u\28mobile\29,.\39 u\24\28mobile\29 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}
	.\38 u\28mobile\29,.\38 u\24\28mobile\29 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\37 u\28mobile\29,.\37 u\24\28mobile\29 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\36 u\28mobile\29,.\36 u\24\28mobile\29 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}
	.\35 u\28mobile\29,.\35 u\24\28mobile\29 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\34 u\28mobile\29,.\34 u\24\28mobile\29 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\33 u\28mobile\29,.\33 u\24\28mobile\29 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}
	.\32 u\28mobile\29,.\32 u\24\28mobile\29 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 u\28mobile\29,.\31 u\24\28mobile\29 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\31 2u\24\28mobile\29 +*,.\31 1u\24\28mobile\29 +*,
		.\31 0u\24\28mobile\29 +*,.\39 u\24\28mobile\29 +*,
		.\38 u\24\28mobile\29 +*,.\37 u\24\28mobile\29 +*,
		.\36 u\24\28mobile\29 +*,.\35 u\24\28mobile\29 +*,
		.\34 u\24\28mobile\29 +*,.\33 u\24\28mobile\29 +*,
		.\32 u\24\28mobile\29 +*,.\31 u\24\28mobile\29 +* {
		clear: left;
	}
	.\-11u\28mobile\29 {
		margin-left: 91.66667%;
	}
	.\-10u\28mobile\29 {
		margin-left: 83.33333%;
	}
	.\-9u\28mobile\29 {
		margin-left: 75%;
	}
	.\-8u\28mobile\29 {
		margin-left: 66.66667%;
	}
	.\-7u\28mobile\29 {
		margin-left: 58.33333%;
	}
	.\-6u\28mobile\29 {
		margin-left: 50%;
	}
	.\-5u\28mobile\29 {
		margin-left: 41.66667%;
	}
	.\-4u\28mobile\29 {
		margin-left: 33.33333%;
	}
	.\-3u\28mobile\29 {
		margin-left: 25%;
	}
	.\-2u\28mobile\29 {
		margin-left: 16.66667%;
	}
	.\-1u\28mobile\29 {
		margin-left: 8.33333%;
	}
}

/* Basic */
body {
	background: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19pt;
	font-weight: 300;
	line-height: 1.75em;
	color: #888;
}

body.is-loading * {
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
}

input, textarea, select {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19pt;
	font-weight: 300;
	line-height: 1.75em;
	color: #888;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	color: #666;
	line-height: 1.5em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

h1 a strong, h2 a strong, h3 a strong, h4 a strong, h5 a strong, h6 a strong
	{
	color: #333;
}

h2 {
	font-size: 2em;
	letter-spacing: -1px;
}

h2.alt {
	color: #888;
}

h2.alt strong {
	color: #666;
}

h3 {
	font-size: 1.5em;
}

header {
	margin: 0 0 2em 0;
}

header>p {
	margin: 1em 0 0 0;
}

footer {
	margin: 2em 0 0 0;
}

strong, b {
	font-weight: 300;
	color: #666;
}

em, i {
	font-style: italic;
}

a {
	text-decoration: none;
	color: inherit;
	border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
	-moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s
		ease-in-out;
	-webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s
		ease-in-out;
	-ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s
		ease-in-out;
	transition: color 0.35s ease-in-out, border-bottom-color 0.35s
		ease-in-out;
	outline: 0;
}

a:hover {
	color: #E27689;
	border-bottom-color: rgba(255, 255, 255, 0);
}

sub {
	position: relative;
	top: 0.5em;
	font-size: 0.8em;
}

sup {
	position: relative;
	top: -0.5em;
	font-size: 0.8em;
}

hr {
	border: 0;
	border-top: solid 1px #ddd;
}

blockquote {
	border-left: solid 0.5em #ddd;
	padding: 1em 0 1em 2em;
	font-style: italic;
}

p, ul, ol, dl, table {
	margin-bottom: 2em;
}

br.clear {
	clear: both;
}

/* Sections/Article */
section, article {
	margin-bottom: 3em;
}

section>:last-child, section>.container, section:last-child, article>:last-child,
	article>.container, article:last-child {
	margin-bottom: 0;
}

.row>section, .row>article {
	margin-bottom: 0;
}

/* Image */
.image {
	display: inline-block;
	border: 0;
}

.image img {
	display: block;
	width: 100%;
}

.image.avatar48 {
	width: 48px;
	height: 48px;
	border-radius: 0.35em;
	background: #fff;
}

.image.avatar48 img {
	width: 48px;
	height: 48px;
}

.image.fit {
	display: block;
	width: 100%;
}

.image.featured {
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

.image.left {
	float: left;
	margin: 0 2em 2em 0;
}

.image.centered {
	display: block;
	margin: 0 0 2em 0;
}

.image.centered img {
	margin: 0 auto;
	width: auto;
}

/* List */
ul.default {
	list-style: disc;
	padding-left: 1em;
}

ul.default li {
	padding-left: 0.5em;
}

ul.icons {
	cursor: default;
}

ul.icons li {
	display: inline-block;
}

ul.icons a {
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	border: 0;
}

ol.default {
	list-style: decimal;
	padding-left: 1.25em;
}

ol.default li {
	padding-left: 0.25em;
}

/* Table */
table {
	width: 100%;
}

table.default {
	width: 100%;
	text-align: left;
}

table.default tbody tr:nth-child(2n+2) {
	background: #f4f4f4;
}

table.default td {
	padding: 0.5em 1em 0.5em 1em;
}

table.default th {
	text-align: left;
	padding: 0.5em 1em 0.5em 1em;
	color: #fff;
	background: #222729 url("images/overlay.png");
}

table.default thead {
	background: #444;
	color: #fff;
}

table.default tfoot {
	background: #eee;
}

/* Button */

/* Item */
.item {
	box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
	margin-bottom: 40px;
}

.item header {
	background: #fff;
	margin: 0;
	padding: 1em 0 1em 0;
	font-size: 0.8em;
}

.item header h3 {
	font-size: 1em;
}

/* Icons */
.icon {
	text-decoration: none;
}

.icon:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 1.25em;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon>.label {
	display: none;
}

/* Header */
#header {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	background: #2586d4;
	box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
	color: #fff;
	height: 100%;
	left: 0;
	overflow-y: auto;
	position: fixed;
	text-align: right;
	top: 0;
	width: 375px;
}

#header .top {
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
}

#header .bottom {
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	padding: 1.5em 0 0.75em 0;
}

#header .bottom>:last-child {
	margin-bottom: 0;
}

#header .icons {
	font-size: 0.8em;
	text-align: center;
}

#header .icons a {
	color: #41484c;
	-moz-transition: color 0.35s ease-in-out;
	-webkit-transition: color 0.35s ease-in-out;
	-ms-transition: color 0.35s ease-in-out;
	transition: color 0.35s ease-in-out;
}

#header .icons a:hover {
	color: #fff;
}

#logo {
	position: relative;
	margin: 1.75em 1.5em 1.5em 1.5em;
	min-height: 48px;
	cursor: default;
}

#logo h1 {
	position: relative;
	color: #fff;
	font-weight: 600;
	font-size: 1em;
	line-height: 1em;
}

#logo p {
	position: relative;
	display: block;
	font-size: 0.6em;
	color: rgba(255, 255, 255, 0.5);
	line-height: 1.25em;
	margin: 0.5em 0 0 0;
}

#logo .image {
	position: absolute;
	left: 0;
	top: 0;
}

#nav ul {
	margin-bottom: 0;
}

#nav ul li a {
	display: block;
	padding: 0.5em 1.25em 0.5em 1.25em;
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	outline: 0;
	border: 0;
	-moz-transition: none;
	-webkit-transition: none;
	-ms-transition: none;
	transition: none;
}

#nav ul li a span {
	position: relative;
	display: block;
	font-size: 0.8em;
}

#nav ul li a span:before {
	position: absolute;
	left: 0;
	color: #41484c;
	text-align: center;
	width: 1.25em;
	line-height: 1.75em;
}

#nav ul li a.active {
	background: rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
	color: #fff;
}

#nav ul li a.active span:before {
	color: #ffffff;
}

.form-3 {
	/* Size and position */
	max-width: 800px;
	margin: 50px auto 10px;
	padding: 30px;
	position: relative;
	/* Styles */
	background: #fff;
	border-radius: 1px;
	color: #7e7975;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px 5px rgba(0, 0, 0, 0.3),
		0 0 0 5px rgba(255, 255, 255, 0.6);
}

.form-3 input[type=number] {
	width: 80px;
	float: left;
	width: 50px;
	height: 30px;
	margin-bottom: 5px;
}
.form-3 input[type=date] {
	width: 175px;
	float: left;
	height: 30px;
}

.form-3 input[type=number]:last-of-type {
	width: 80px;
	float: left;
	width: 75px;
	height: 30px;
}

.form-3 input[type=text], .form-3 input[type=password] {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight: 400;
	display: block;
	max-width: 360px;
	width: 100%;
	float: left;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.form-3 input[type=text]:hover, .form-3 input[type=password]:hover {
	border-color: #CCC;
}

.form-3 label:hover ~ input {
	border-color: #CCC;
}

.form-3 input[type=text]:focus, .form-3 input[type=password]:focus {
	border-color: #BBB;
	outline: none; /* Remove Chrome's outline */
}

.form-3 textarea {
	width: 100%;
	height: 150px;
}

.form-3 select {
	float: middle;
}

.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.one {
  background-image: url('https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/512x512/plain/user.png');
}

/* LoginForm */
.form-2 {
	/* Size and position */
	width: 260px;
	height: 160px;
	margin: 50px auto 10px;
	padding: 15px;
	position: relative;
	/* Styles */
	background: #fff;
	border-radius: 1px;
	color: #7e7975;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px 5px rgba(0, 0, 0, 0.3),
		0 0 0 5px rgba(255, 255, 255, 0.6);
}

.form-2 h1 {
	font-size: 15px;
	font-weight: bold;
	color: #333333;
	padding-bottom: 8px;
	border-bottom: 1px solid #EBE6E2;
	text-shadow: 0 2px 0 rgba(255, 255, 255, 0.8);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.form-2 h1 .log-in, .form-2 h1 .sign-up {
	display: inline-block;
	text-transform: uppercase;
}

.form-2 h1 .log-in {
	color: #6c6763;
	padding-right: 2px;
}

.form-2 h1 .sign-up {
	color: #ffb347;
	padding-left: 2px;
}

.form-2 .float {
	width: 100%;
	float: middle;
	padding-top: 15px;
	border-top: 1px solid rgba(255, 255, 255, 1);
}

.form-2 .float:first-of-type {
	padding-right: 5px;
}

.form-2 .float:last-of-type {
	padding-left: 5px;
}

.form-2 label {
	display: block;
	padding: 0 0 5px 2px;
	cursor: pointer;
	font-weight: 400;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	font-size: 11px;
}

.form-2 label i {
	margin-right: 5px; /* Gap between icon and text */
	display: inline-block;
	width: 10px;
}

.form-2 input[type=text], .form-2 input[type=password] {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight: 400;
	display: block;
	width: 100%;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.form-2 input[type=text]:hover, .form-2 input[type=password]:hover {
	border-color: #CCC;
}

.form-2 label:hover ~ input {
	border-color: #CCC;
}

.form-2 input[type=text]:focus, .form-2 input[type=password]:focus {
	border-color: #BBB;
	outline: none; /* Remove Chrome's outline */
}

.form-2 input[type=submit], .form-2 .log-twitter {
	/* Size and position */
	width: 50%;
	height: 38px;
	float: middle;
	position: relative;
	margin-top: 7px;
	/* Styles */
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
	border-radius: 3px;
	cursor: pointer;
	color: #fff;
	/* Font styles */
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 10px; /* Same as height */
	text-align: center;
	font-weight: bold;
}

.form-2 input[type=submit] {
	margin-left: 1%;
	background: #2586d4; /* Fallback */
	background: -moz-linear-gradient(#2586d4, #67ace4);
	background: -ms-linear-gradient(#2586d4, #67ace4);
	background: -o-linear-gradient(#2586d4, #67ace4);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#2586d4),
		to(#67ace4));
	background: -webkit-linear-gradient(#2586d4, #67ace4);
	background: linear-gradient(#2586d4, #67ace4);
	border: 1px solid #2688d9;
	text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

.form-2 .log-twitter {
	margin-right: 1%;
	background: #34a5cf; /* Fallback */
	background: -moz-linear-gradient(#34a5cf, #2a8ac4);
	background: -ms-linear-gradient(#34a5cf, #2a8ac4);
	background: -o-linear-gradient(#34a5cf, #2a8ac4);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#34a5cf),
		to(#2a8ac4));
	background: -webkit-linear-gradient(#34a5cf, #2a8ac4);
	background: linear-gradient(#34a5cf, #2a8ac4);
	border: 1px solid #2b8bc7;
	color: #ffffff;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

.form-2 input[type=submit]:hover, .form-2 .log-twitter:hover {
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 20px 40px
		rgba(255, 255, 255, 0.15);
}

.form-2 input[type=submit]:active, .form-2 .log-twitter:active {
	top: 1px;
}

/* Fallback fro broswers that don't support box shadows */
.no-boxshadow .form-2 input[type=submit]:hover {
	background: #34a5cf;
}

.no-boxshadow .form-2 .log-twitter:hover {
	background: #2a8ac4;
}

.form-2 p:last-of-type {
	clear: both;
}

.form-2 .opt {
	text-align: right;
	margin-right: 3px;
}

.form-2 label[for=showPassword] {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 11px;
	font-weight: 400;
	text-transform: capitalize;
}

.form-2 input[type=checkbox] {
	vertical-align: middle;
	margin: -1px 5px 0 1px;
}
/*Form 4*/
.form-4 {
	/* Size and position */

	height: 580px;
	width: 460px;
	margin: 20px auto 100px;
	float: right;
	position: relative;
	/* Styles */
	background: #fff;
	border: 2px solid;
	color: #7e7975;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px 5px rgba(0, 0, 0, 0.3),
		0 0 0 5px rgba(255, 255, 255, 0.6);
}

.form-4 input[type=number] {
	width: 80px;
	float: left;
	width: 50px;
	height: 30px;
	margin-bottom: 5px;
}

.form-4 input[type=number]:last-of-type {
	width: 80px;
	float: left;
	width: 75px;
	height: 30px;
}

.form-4 input[type=text], .form-4 input[type=password] {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	display: block;
	width: 90%;
	height: 30px;
	float: right;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-right: 40px;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.form-4 input[type=text]:hover, .form-4 input[type=password]:hover {
	border-color: #CCC;
}

.form-4 label:hover ~ input {
	border-color: #CCC;
}

.form-4 input[type=text]:focus, .form-4 input[type=password]:focus {
	border-color: #BBB;
	outline: none; /* Remove Chrome's outline */
}

.form-4 textarea {
	width: 95%;
	height: 150px;
}

.form-4 select {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	display: block;
	width: 45%;
	height: 30px;
	float: right;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-right: 40px;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
}

.center {
	
	position:absolute;
	bottom:0px;
}

.pagination {
	display: inline-block;
}

.pagination a {
	color: #7f007f;
	float: left;
	padding: 0.5px 4px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ffffff;
	margin: 0 4px;
}

.pagination a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
}

.pagination a:hover:not (.active ) {
	background-color: #ddd;
}

/* Footer */
#footer {
	margin-left: 375px;
	text-align: center;
	background-color: #dce3e2;
	padding: 0.5em 0 0.5em 0;
	box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0
		rgba(0, 0, 0, 0.025);
	font-size: 0.8em;
}

#footer .copyright {
	cursor: default;
	margin: 0;
}

#footer .copyright li {
	display: inline-block;
	line-height: 1em;
	border-left: solid 1px rgba(128, 128, 128, 0.35);
	padding: 0 0 0 0.5em;
	margin: 0 0 0 0.5em;
}

#footer .copyright li:first-child {
	border-left: 0;
	padding-left: 0;
	margin-left: 0;
}

/* Main */
#main {
	margin-left: 375px;
}

#main>section {
	margin: 0;
	overflow: hidden;
	padding: 4em 0;
	box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0
		rgba(0, 0, 0, 0.025);
	text-align: center;
	background-image: url("images/overlay.png");
}

#main>section.dark {
	color: #ddd;
	color: #343434;
}

#main>section.dark h2, #main>section.dark h3, #main>section.dark h4,
	#main>section.dark h5, #main>section.dark h6 {
	color: inherit;
}

#main>section.dark strong {
	color: #2a2a2a;
	border-color: inherit;
}

#main>section.dark a {
	color: #fff;
	border-color: inherit;
}

#main>section.dark a:hover {
	border-bottom-color: rgba(255, 255, 255, 0);
}

#main>section.cover {
	padding: 6em 0;
	background-size: cover;
	background-position: center center;
}

#main>section.one {
	background-color: #81918E;
	background-image: url("../../images/city1.jpg");
}

#main>section.two {
	background-color: #f5fafa;
}

#main>section.three {
	background-color: #ecf1f1;
}

#main>section.four {
	background-color: #e8edec;
}

/* Wide */
@media screen and (min-width: 961px) and (max-width: 1880px) {
	/* Basic */
	body, input, textarea, select {
		font-size: 15pt;
	}

	/* Header */
	#header {
		width: 250px;
	}

	/* Footer */
	#footer {
		margin-left: 250px;
	}

	/* Main */
	#main {
		margin-left: 250px;
	}
}

/* Normal */
@media screen and (min-width: 961px) and (max-width: 1620px) {
	/* Main */
	#main>section {
		padding: 3em 0;
	}
	#main section.cover {
		padding: 5em 0;
	}
}

/* Narrow */
@media screen and (min-width: 961px) and (max-width: 1320px) {
	/* Basic */
	body, input, textarea, select {
		font-size: 15pt;
	}
	.container {
		padding: 0 2em 0 2em;
	}

	/* List */
	ul.icons li a {
		width: 1.75em;
	}

	/* Item */
	.item {
		margin-bottom: 20px;
	}

	/* Header */
	#header {
		width: 20%;
	}
	#logo .image {
		position: relative;
		margin: 0 0 0.5em 0;
	}
	#nav ul li a {
		font-size: 0.8em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	#nav ul li a span {
		padding-right: 2.25em;
	}
	#nav ul li a span:before {
		left: 100%;
		margin-left: -1.25em;
		line-height: 2.25em;
	}

	/* Footer */
	#footer {
		margin-left: 20%;
	}

	/* Main */
	#main {
		margin-left: 20%;
	}
}

/* Narrower */
#headerToggle {
	display: none;
}

@media screen and (max-width: 960px) {
	/* Basic */
	html, body {
		overflow-x: hidden;
	}
	body, input, textarea, select {
		font-size: 14pt;
	}
	header br {
		display: none;
	}
	.container {
		padding: 0 2em 0 2em;
	}

	/* Item */
	.item {
		margin-bottom: 15px;
	}

	/* List */
	ul.icons a {
		width: 1.75em;
		font-size: 1.25em;
	}

	/* Header */
	#header {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transform: translateX(-200px);
		-webkit-transform: translateX(-200px);
		-ms-transform: translateX(-200px);
		transform: translateX(-200px);
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		-webkit-overflow-scrolling: touch;
		display: block;
		height: 100%;
		left: 0;
		overflow-y: auto;
		position: fixed;
		top: 0;
		width: 200px;
		z-index: 10002;
		width: 200px;
		background: #2586d4;
		box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.125);
	}
	#header .top {
		position: relative;
	}
	#header .bottom {
		border-top: solid 1px rgba(255, 255, 255, 0.05);
		box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15);
		padding-top: 2em;
		margin-top: 2em;
		position: relative;
	}
	#logo {
		margin: 1.5em 1.25em 1.25em 1.25em;
	}
	#nav ul li a {
		padding: 0.5em 1.25em 0.5em 1.25em;
	}
	#headerToggle {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		display: block;
		height: 2.25em;
		left: 0;
		position: fixed;
		top: 0;
		width: 3.25em;
		z-index: 10001;
	}
	#headerToggle .toggle {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		outline: 0;
		border: 0;
	}
	#headerToggle .toggle:before {
		font-family: FontAwesome;
		text-decoration: none;
		font-style: normal;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content: '\f0c9';
		color: #fff;
		font-size: 18px;
		line-height: 2.25em;
		background: rgba(128, 136, 144, 0.5);
		border-radius: 0.35em;
		text-align: center;
		position: absolute;
		left: 0.5em;
		top: 0.5em;
		display: block;
		width: 3.25em;
		height: 2.25em;
		line-height: 2.25em;
	}
	body.header-visible #main {
		-moz-transform: translateX(200px);
		-webkit-transform: translateX(200px);
		-ms-transform: translateX(200px);
		transform: translateX(200px);
	}
	body.header-visible #headerToggle {
		-moz-transform: translateX(200px);
		-webkit-transform: translateX(200px);
		-ms-transform: translateX(200px);
		transform: translateX(200px);
	}
	body.header-visible #header {
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	/* Footer */
	#footer {
		margin-left: 0;
	}

	/* Main */
	#main {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		padding-bottom: 1px;
		margin-left: 0;
	}
	#main>section {
		padding: 3em 0;
	}
	#main section.cover {
		padding: 4em 0;
	}
}

/* Mobile */
@media screen and (max-width: 736px) {
	/* Basic */
	body, input, textarea, select {
		font-size: 13pt;
	}
	h2 {
		font-size: 1.5em;
		letter-spacing: 0;
		font-weight: 300;
	}
	.container {
		padding: 0 15px 0 15px;
	}

	/* List */
	ul.icons a {
		width: 2em;
		font-size: 1.25em;
	}

	/* Main */
	#main>section {
		padding: 2em 0;
	}
	#main section.cover {
		padding: 4em 0em;
	}
	#main section.cover header {
		padding: 0 1em;
	}

	/* Footer */
	#footer .copyright li {
		display: block;
		line-height: 1.25em;
		border: 0;
		padding: 0;
		margin: 1em 0 0 0;
	}
	#footer .copyright li:first-child {
		margin-top: 0;
	}
}